# RewriteEngine On
#
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_FILENAME}\.php -f
# RewriteRule ^([^\.]+)$ $1.php [NC,L]
# (directory browsing)

Options -Indexes

<FilesMatch "^(test_|check_|cek_|fix_|verify_|show_|setup_|update_|add_).*\.php$">
    <IfModule mod_authz_core.c>
        Require all denied
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order Allow,Deny
        Deny from all
    </IfModule>
</FilesMatch>